<header data-controller="header">
        <div class="mx-auto max-w-7xl px-2 sm:px-6 lg:px-8">
            <div class="relative flex h-20 items-center justify-between">         
                
                <div class="flex flex-1 items-center justify-center sm:items-stretch sm:justify-start">
                    <div class="flex flex-shrink-0 items-center">
                        <%= link_to root_path do %>
                            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 30 30" class="block h-14 w-auto lg:hidden">
                                <g fill="#1E90FF">
                                    <path d="M26.633 19.99c-.496-.139-.514-.157-.651-.66-.12-.44-.844-.44-.964 0-.137.503-.155.521-.651.66a.506.506 0 00-.367.489c0 .228.15.428.367.489.496.139.514.157.651.66.06.22.257.372.482.372s.422-.152.482-.372c.137-.503.155-.521.651-.66a.506.506 0 00.367-.489.506.506 0 00-.367-.489zM20.367 4.471c.067.019.104.03.112.03.008.019.02.056.04.125.06.22.256.374.481.374s.422-.153.482-.374c.018-.07.031-.106.03-.115.018-.008.054-.021.121-.04A.51.51 0 0022 3.979a.51.51 0 00-.367-.492 2.129 2.129 0 00-.112-.03 1.118 1.118 0 01-.04-.125c-.12-.443-.843-.443-.963 0-.018.069-.031.106-.03.115-.018.008-.054.02-.121.04a.51.51 0 00-.367.492c0 .23.15.43.367.492zM3.5 10C4.327 10 5 9.327 5 8.5S4.327 7 3.5 7 2 7.673 2 8.5 2.673 10 3.5 10zm0-2a.5.5 0 110 1 .5.5 0 010-1z"/>
                                    <circle cx="10" cy="24" r="1"/>
                                    <path d="M24.149 25.262a5.953 5.953 0 0 1-8.408 0c-2.238-2.239-2.293-5.822-.208-8.154.332 3.301 3.33 5.894 6.969 5.894a.5.5 0 1 0 0-1c-3.31 0-6.002-2.468-6.002-5.502a.49.49 0 0 0-.03-.153 1.99 1.99 0 0 0 .427-.74 6.93 6.93 0 0 0 4.16 1.39 6.924 6.924 0 0 0 4.912-2.03 6.954 6.954 0 0 0 0-9.823.5.5 0 1 0-.707.707 5.953 5.953 0 0 1 0 8.408c-2.239 2.238-5.822 2.293-8.154.208 3.301-.332 5.894-3.33 5.894-6.969a.5.5 0 1 0-1 0c0 3.31-2.468 6.002-5.502 6.002a.49.49 0 0 0-.153.03 1.991 1.991 0 0 0-.741-.427c2.04-2.718 1.832-6.6-.64-9.072a6.954 6.954 0 0 0-9.822 0 .5.5 0 1 0 .707.707 5.953 5.953 0 0 1 8.408 0c2.238 2.239 2.293 5.822.208 8.154-.332-3.301-3.33-5.894-6.969-5.894a.5.5 0 1 0 0 1c3.31 0 6.002 2.468 6.002 5.502a.49.49 0 0 0 .03.153 1.99 1.99 0 0 0-.427.74c-2.718-2.04-6.6-1.83-9.072.64a6.954 6.954 0 0 0 0 9.823.499.499 0 0 0 .707 0 .5.5 0 0 0 0-.707 5.953 5.953 0 0 1 0-8.408c2.24-2.238 5.823-2.292 8.154-.208-3.301.332-5.894 3.33-5.894 6.969a.5.5 0 1 0 1 0c0-3.31 2.468-6.002 5.502-6.002		a.49.49 0 0 0 .153-.03c.21.193.463.337.741.427-2.04 2.718-1.832 6.6.64 9.072A6.924 6.924 0 0 0 19.945 28a6.924 6.924 0 0 0 4.911-2.03.5.5 0 1 0-.707-.708zM14 15c0-.551.449-1 1-1s1 .449 1 1-.449 1-1 1-1-.449-1-1z"/>
                                </g>
                            </svg>

                            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 30 30" class="hidden h-14 w-auto lg:block">
                                <g fill="#1E90FF">
                                    <path d="M26.633 19.99c-.496-.139-.514-.157-.651-.66-.12-.44-.844-.44-.964 0-.137.503-.155.521-.651.66a.506.506 0 00-.367.489c0 .228.15.428.367.489.496.139.514.157.651.66.06.22.257.372.482.372s.422-.152.482-.372c.137-.503.155-.521.651-.66a.506.506 0 00.367-.489.506.506 0 00-.367-.489zM20.367 4.471c.067.019.104.03.112.03.008.019.02.056.04.125.06.22.256.374.481.374s.422-.153.482-.374c.018-.07.031-.106.03-.115.018-.008.054-.021.121-.04A.51.51 0 0022 3.979a.51.51 0 00-.367-.492 2.129 2.129 0 00-.112-.03 1.118 1.118 0 01-.04-.125c-.12-.443-.843-.443-.963 0-.018.069-.031.106-.03.115-.018.008-.054.02-.121.04a.51.51 0 00-.367.492c0 .23.15.43.367.492zM3.5 10C4.327 10 5 9.327 5 8.5S4.327 7 3.5 7 2 7.673 2 8.5 2.673 10 3.5 10zm0-2a.5.5 0 110 1 .5.5 0 010-1z"/>
                                    <circle cx="10" cy="24" r="1"/>
                                    <path d="M24.149 25.262a5.953 5.953 0 0 1-8.408 0c-2.238-2.239-2.293-5.822-.208-8.154.332 3.301 3.33 5.894 6.969 5.894a.5.5 0 1 0 0-1c-3.31 0-6.002-2.468-6.002-5.502a.49.49 0 0 0-.03-.153 1.99 1.99 0 0 0 .427-.74 6.93 6.93 0 0 0 4.16 1.39 6.924 6.924 0 0 0 4.912-2.03 6.954 6.954 0 0 0 0-9.823.5.5 0 1 0-.707.707 5.953 5.953 0 0 1 0 8.408c-2.239 2.238-5.822 2.293-8.154.208 3.301-.332 5.894-3.33 5.894-6.969a.5.5 0 1 0-1 0c0 3.31-2.468 6.002-5.502 6.002a.49.49 0 0 0-.153.03 1.991 1.991 0 0 0-.741-.427c2.04-2.718 1.832-6.6-.64-9.072a6.954 6.954 0 0 0-9.822 0 .5.5 0 1 0 .707.707 5.953 5.953 0 0 1 8.408 0c2.238 2.239 2.293 5.822.208 8.154-.332-3.301-3.33-5.894-6.969-5.894a.5.5 0 1 0 0 1c3.31 0 6.002 2.468 6.002 5.502a.49.49 0 0 0 .03.153 1.99 1.99 0 0 0-.427.74c-2.718-2.04-6.6-1.83-9.072.64a6.954 6.954 0 0 0 0 9.823.499.499 0 0 0 .707 0 .5.5 0 0 0 0-.707 5.953 5.953 0 0 1 0-8.408c2.24-2.238 5.823-2.292 8.154-.208-3.301.332-5.894 3.33-5.894 6.969a.5.5 0 1 0 1 0c0-3.31 2.468-6.002 5.502-6.002		a.49.49 0 0 0 .153-.03c.21.193.463.337.741.427-2.04 2.718-1.832 6.6.64 9.072A6.924 6.924 0 0 0 19.945 28a6.924 6.924 0 0 0 4.911-2.03.5.5 0 1 0-.707-.708zM14 15c0-.551.449-1 1-1s1 .449 1 1-.449 1-1 1-1-.449-1-1z"/>
                                </g>
                            </svg>
                        <% end %>
                    </div>

                            <!-- Search Bar -->
                            
                    <div class="relative mr-3 hidden md:block md:mx-auto self-center">
                        <div class="absolute inset-y-0 left-0 pl-3 flex items-center pointer-events-none">
                            <svg class="w-5 h-5 text-gray-500" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
                                <path fill-rule="evenodd" d="M8 4a4 4 0 100 8 4 4 0 000-8zM2 8a6 6 0 1110.89 3.476l4.817 4.817a1 1 0 01-1.414 1.414l-4.816-4.816A6 6 0 012 8z" clip-rule="evenodd"></path>
                            </svg>                    
                        </div>
                        <input type="text" id="email-adress-icon" class="hover:bg-gray-200 text-gray-900 sm:text-sm rounded-lg block w-full pl-10 p-2" placeholder="Search">
                    </div>   
                </div>
                <div class="absolute inset-y-0 right-0 flex items-center pr-2 sm:static sm:inset-auto sm:ml-6 sm:pr-0">
                    <button type="button" class="rounded-full p-1 text-gray-400 hover:bg-gray-200 hover:text-black focus:outline-none focus:ring-2 focus:ring-white focus:ring-offset-2 focus:ring-offset-gray-800">
                        <span class="sr-only">View notifications</span>
                        <!-- Heroicon name: outline/bell -->
                        <svg class="h-6 w-6" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" aria-hidden="true">
                            <path stroke-linecap="round" stroke-linejoin="round" d="M14.857 17.082a23.848 23.848 0 005.454-1.31A8.967 8.967 0 0118 9.75v-.7V9A6 6 0 006 9v.75a8.967 8.967 0 01-2.312 6.022c1.733.64 3.56 1.085 5.455 1.31m5.714 0a24.255 24.255 0 01-5.714 0m5.714 0a3 3 0 11-5.714 0" />
                        </svg>
                    </button>

                        <!-- Profile dropdown -->
                    <div class="relative ml-3">
                        <div>
                            <button data-header-target="openUserMenu" type="button" class="flex rounded-full text-sm focus:outline-none focus:ring-2 focus:ring-white focus:ring-offset-2 focus:ring-offset-gray-800" id="user-menu-button" aria-expanded="false" aria-haspopup="true">
                                <span class="sr-only">Open user menu</span>
                                <img class="h-8 w-8 rounded-full" src="https://images.unsplash.com/photo-1472099645785-5658abf4ff4e?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=facearea&facepad=2&w=256&h=256&q=80" alt="">
                            </button>
                        </div>

                        <div 
                            class="hidden absolute right-0 z-10 mt-2 w-48 origin-top-right rounded-md divide-y divide-gray-100 bg-white py-1 shadow-lg ring-1 ring-black ring-opacity-5 focus:outline-none " 
                            role="menu"
                            id="menu-dropdown-items" 
                            aria-orientation="vertical" 
                            aria-labelledby="user-menu-button" 
                            tabindex="-1"
                            data-transition-enter="transition ease-out duration-100"
                            data-transition-enter-start="transform opacity-0 scale-95"
                            data-transition-enter-end="transform opacity-100 scale-100"
                            data-transition-leave="transition ease-in duration-75"
                            data-transition-leave-start="transform opacity-100 scale-100"
                            data-transition-leave-end="transform opacity-0 scale-95"
                        >
                            <!-- Active: "bg-gray-100", Not Active: "" -->
                            <div class="py-1" role="none">
                                <% if user_signed_in? %>
                                  <%= link_to "Sign Out", destroy_user_session_path, data: { "turbo-method": "delete" }, class: "block px-4 py-2 text-sm text-gray-700 hover:bg-gray-100" %>
                                <% else %>
                                    <a data-header-target="userAuthLink" class="block px-4 py-2 text-sm text-gray-700 hover:bg-gray-100" role="menuitem" tabindex="-1" id="user-menu-item-0">Sign Up</a>
                                    <a data-header-target="userAuthLink" class="block px-4 py-2 text-sm text-gray-700 hover:bg-gray-100" role="menuitem" tabindex="-1" id="user-menu-item-1">Sign In</a>                
                                <% end %>
                            </div>

                            <div class="py-1" role="none">
                                <a href="#" class="block px-4 py-2 text-sm text-gray-700 hover:bg-gray-100" role="menuitem" tabindex="-1" id="user-menu-item-0">Host your home</a>
                                <a href="#" class="block px-4 py-2 text-sm text-gray-700 hover:bg-gray-100" role="menuitem" tabindex="-1" id="user-menu-item-1">Help</a>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
</header>

<%= render "shared/modal", modal_content: "home/user_auth_form" %>